target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# test
graphify-out/
stitch_*/

### IDE ###
.idea
.classpath
.project
.settings
.factorypath
*.iml
*.iws
*.ipr

### Logs & Temp ###
*.log
.DS_Store
